/**
*   buttons.scss
*   @description: Estilos para botones
*/

button {
    font-family: $OpenSans;
    background-color: transparent;
}

.btn {
    cursor: pointer;
    font-family: $OpenSans;
    padding: $paddingNormal $paddingMedium;
    -webkit-tap-highlight-color: transparent;
}

.btn-large {
    padding: $paddingMedium;
}

.btn-full {
    width: 100%;
}

.btn-radius {
    border-radius: 50px;
}

.btn-darkBlue { background-color: $darkBlue; }

.btn-lightBlue { background-color: $lightBlue; }

.btn-login {
    padding: 6px $paddingLarge;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: $darkBlue;
    border-radius: 4px;
    color: $white;
    transition: background .300s ease-in-out;

    &:hover {
        background: $lightBlue;
        
    }
}
  
.btn-search {
    width: 16%;
    padding: 10px;
    background: $lightBlue;
    font-size: $fontSmall;
    color: white;
    border-left: none;
    cursor: pointer;

    transition: background .300s ease-in-out;

    &:hover {
        background: $darkBlue;
        
    }


}

