/**
*   buttons.scss
*   @description: Estilos para botones
*/

button {
    font-family: $OpenSans;
    background-color: transparent;
}

.btn {
    cursor: pointer;
    font-family: $OpenSans;
    padding: $paddingNormal $paddingMedium;
    -webkit-tap-highlight-color: transparent;
}

.btn-large {
    padding: $paddingMedium;
}

.btn-full {
    width: 100%;
}

.btn-radius {
    border-radius: 50px;
}

.btn-darkBlue { background-color: $darkBlue; }

.btn-lightBlue { background-color: $lightBlue; }

  

