/**
*   header.scss
*   @description: Estilos para los Headers
*/

header {
	padding: $paddingSemi 0;
	background-color: $lightBlue;
}

.header-tittle {
    position: relative;
    width: 100%; 
    height: 90px;
	background-size: cover;
	padding-left: $paddingMedium;
    background-position: center;
}