/**
*   header.scss
*   @description: Estilos para los Headers
*/

#btn-menu {
	z-index: 1;
	background-color: transparent;
}

.menu-mobile {
	top: 0;
	left: 0;
	width: 60%;
	z-index: 1;
	height: 100vh;
	position: fixed;
	background-color: $darkBlue;
	transform: translateX(-100%);
	transition: all 200ms ease-in-out;
}

.menu-appear {
	transform: translateX(0);
}

.menu-hide {
	transform: translateX(-100%);
}

.menu-mobile .head {
	min-height: 160px;
	padding: 0 $paddingMedium;
	a {
		width: 100%;
	}
	.image img {
		width: 80px;
		height: 80px;
		max-height: 80px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.menu-mobile .content {
	flex-grow: 1;
	padding: 0 $paddingMedium;
	background-color: $white;
	
	.menu-item {
		width: 100%;
		i {
			width: 11%;
			text-align: center;
		}
	}

	.btn {
		width: 100%;
	}

}

.header-single {

	background-color: $darkBlue;
	padding: $paddingMedium 0;
	.logo img { height: 32px; }

	.header-search {
		position: relative;
		padding: 4px 0;		
	}

	.search-button {
		left: 0;
		width: 100%;
		position: absolute;
		button {
			height: 36px;
			color: $darkBlue;
			padding: 4px 10px;
			border-radius: 4px;
			background-color: $white;
			i { font-size: 0.75rem; }
		}
	}

}	

	.container-header-search {
		.header-search {
			padding: 0;
		}
	}

.header-search {
	form { position: relative; }

	.back {
		width: 10%;
		z-index: 1;
	}

	.form-search {
		width: 75%;	
	}

	.filter-icon {
		width: 15%;
	}

	.icon-search {
		left: 28px;
		color: $gray;
		position: absolute;
	}

   .burger-wrapper { cursor: pointer; }
  
	#filter-text {
		font-size: 0.8rem;
	}

	.filter-icon {
		top: 4px;
		right: 0px;
		position: absolute;
	}

  	#menu-filter {
		background: $white;
    	width: 80%;
    	height: 100vh;
    	position: fixed;
    	z-index: 2;
    	right: 0;
    	transition-timing-function: cubic-bezier(10, 2, 3, 1);
    	box-shadow: 6px -2px 20px 0px grey;
    	transform: translateX(50rem);
    	top: 0;
    	transition: 0.5s;

    	.input-container {
        	padding: 10px 0px 10px 0px;
         
        	h4 {
            	font-size: .93rem;
        	}
    	}		

    	.header-filter {
    		background-color: $darkBlue;
        	padding: 16px;
    	}
	}
  
  	#menyAvPaa {
		display: none;
		&:checked ~ #menu-filter {
			transform: translateX(0rem);
		}
	}
  
  	#filter {
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
  
	#closemain{
		font-size: 25px;
	}
  
  
	#menyAvPaa:checked ~ #filter  {
		color: white;
	}
}

.header-single-header-search {
	padding: 0;
}

/* --- HeaderChat ---	*/

.header-chat {
	background-color: $darkBlue;
	padding: $paddingNormal 0;
	height: 64px;
	.image {
		margin: 0 $paddingMedium;
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
}

/* HeaderWebLogin */

.header-web-login{
	background-color: #000000bd;
	padding: 10px 0;
	z-index: 1;
    position: fixed;
	top: 0;
	
	.btn-splash {
		padding-left: $paddingNormal;
	}

	.logo{
        height: 55px;
    }

    .icon-search-web {
        position: absolute;
        left: 3%;
        color: #b3b3b3;
    }
}

.header-web-interest{
	background-color: $darkBlue;
	padding: 16px 0;
	z-index: 1;
    position: relative;
	top: 0;
	
	.back-icon{
		padding-right: $paddingLarge;
	}
}

.header-logged {
	background-color: $darkBlue;
	border-bottom: 3px solid $lightBlue;
	padding: 10px 0;
	z-index: 1;
    position: relative;
	top: 0;

	.logo{
        height: 45px;
    }
	.icon-add{
		padding-right: $paddingNormal;
	}
	.icon-search-web {
        position: absolute;
        left: 3%;
        color: #b3b3b3;
    }
	
}