/**
*   inputs.scss
*   @description: Estilos para las entradas de texto y archivos
*/

input, textarea, select, option, label {
    font-family: $OpenSans;
}

textarea {
    resize: none;
    border-bottom: 2px solid #f1f1f1;
    padding: $paddingNormal 0;
    transition: border-bottom 300ms ease-in-out;
    &:hover, &:focus {
        border-bottom: 2px solid $lightBlue;
    }
}

.input {
    font-size: $fontSmall;
    font-family: $OpenSans;
    font-weight: $weightSemi;
    outline: none;
    background-color: #EFEFEF;
    padding: $paddingNormal $paddingMedium;
}

.input::placeholder, option, select {
    color: #8e8e8e;
}


.input-form {
    width: 100%;
    color: $darkGray;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1.5px solid #f2f2f2;
    transition: background .300s ease-in-out;
}

.input-form:focus {
    background-color: #ececec;
    
    border-bottom: 1.5px solid $lightBlue;
}


.input-search {
    padding: 10px 8px 10px 12px;
    font-size: $fontRegular;
    float: left;
    background: $white;
    width: 100%;
}




@media screen and (max-width: 768px) {

}