/**
*   inputs.scss
*   @description: Estilos para las entradas de texto y archivos
*/

input, textarea, select, option, label {
    font-family: $OpenSans;
}

textarea {
    resize: none;
    border-bottom: 2px solid #f1f1f1;
    padding: $paddingNormal 0;
    transition: border-bottom 300ms ease-in-out;
    &:hover, &:focus {
        border-bottom: 2px solid $lightBlue;
    }
}

.input {
    font-size: $fontSmall;
    font-family: $OpenSans;
    font-weight: $weightSemi;
    outline: none;
    background-color: #EFEFEF;
    padding: $paddingNormal $paddingMedium;
}

.input::placeholder, option, select {
    color: #8e8e8e;
}

.login .input {
    background-color: $white;    
}



@media screen and (max-width: 768px) {

}